
body{
    font-family: arial;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.product-items{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}

.product-items ul{
    padding: 0;
    margin: 0;
}
.product-prop{
    float: right;
    border-left: 1px solid #ccc;
    line-height: 90px;
    padding: 0 10px;
}
.product-img{
    width: 110px;
    height: 90px;
    float: left;
}
.product-img img{
    width: 100px;
    padding: 5px;
    height: 80px;
}
.product-name{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 150px;
}
.product-button{
    float: right;
    border-left: 1px solid #ccc;
    border-right: 0;
    padding: 0 10px;
    width: 50px;
    text-align: center;
}
.clear-both{
    clear: both;
}
.product-items ul li{
    list-style: none;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
}
.product-items ul li:first-child{
    border-top: 1px solid #ccc;
}
.product-time{
    text-align: center;
}
.product-item-heading{
    text-align: center;
    font-weight: bold;
}
.product-item-heading .product-prop{
    height: 40px;
    line-height: 40px;
    background: pink;
    color: #FFF;
}
.buttons{
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 38px;
}
.buttons a{
    color: #FFF;
    padding: 10px;
    background: salmon;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#admin-heading-panel{
    background: pink;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
#admin-heading-panel a{
    color: #fff;
}
.left-panel{
    float: left;
}
.left-panel span{
    color: #eeff09;
    font-weight: bold;
}
.right-panel{
    float: right;
}
.right-panel img{
    vertical-align: middle;
}
.right-panel a{
    margin-right: 10px;
}
.left-menu{
    float: left;
    width: 280px;
}
.main-content{
    float: left;
    width: 840px;
    margin-left: 20px;
}
.main-content h1{
    margin: 0;
    text-align: left;
    background: pink;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
}
#admin-footer{
    background: pink;
    padding: 5px 0;
    line-height: 60px;
    color: #FFF;
}
#content-wrapper .container{
    padding: 15px 0;
}
.menu-heading{
    background: pink;
    line-height: 20px;
    padding: 10px;
    color: #FFF;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
}
.menu-items ul{
    margin: 0;
    padding: 0;
}
.menu-items ul li{
    list-style: none;
    line-height: 30px;
    border-bottom: 1px dashed #ccc;
    padding-left: 15px;
}
.menu-items ul li a{
    color: #000;
}
.menu-items ul li:first-child{
    border-top: 0;
}
.menu-items{
    padding: 0 0px 15px 0px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}
#pagination{
    text-align: right;
    margin-top: 15px;
}
.page-item{
    border: 1px solid #ccc;
    padding: 5px 9px;
    color: #000;
}
.current-page{
    background: deeppink;
    color: #FFF;
}
#product-editing{
    border: 1px solid #ccc;
    padding: 20px;
}

#content-box{
    border: 1px solid #ccc;
    padding: 20px;
}

#product-form label {
    width: 150px;
    display: inline-block;
    float: left;
}
#product-form input {
    margin-bottom: 10px;
    line-height: 32px;
    float: left;
}
#product-form textarea {
    width: 500px;
    height: 200px;
}
#product-form input[type=submit] {
    float: right;
    background: url('../images/save.png') center center no-repeat;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
}
#cke_product-content{
    float: left;
    width: 700px;
}
.right-wrap-field{
    float: left;
    width: 75%
}
.right-wrap-field img{
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    height: 150px;
}
.right-wrap-field input{
    float: none;
}
.right-wrap-field ul{
    padding: 0;
    margin: 0;
}
.right-wrap-field ul li{
    list-style: none;
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.right-wrap-field ul li a{
    position: absolute;
    background: rgba(0,0,0,0.1);
    color: #000;
    padding: 5px;
    bottom: 3px;
    right: 0;
}

.box-content{
    margin: 0 auto;
    width: 800px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
    outline: none;
}
.btn-15 {
  background: deeppink;
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: lightpink;
  border-radius: 5px;
  box-shadow:
  inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}

