*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

@font-face {
  font-family: Roboto ;
  src: url(./font/Roboto/Roboto-Regular.ttf);
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}
.card_title img{
  width:100px;
  height:100px;
  float: left;
}
.card_title{
  height:100px;
  display: flex;
}
.card_title h1{
  padding-top: 28px;
  padding-left: 15px;
}
.about-section{
  background: url("../../images/afk-banner.png") no-repeat left;
  background-size: 100%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 80px 0;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 16px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
  margin-top: 15px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 60px;
  }
}
span:hover{
  color: aqua;
  cursor: pointer;
}